{% extends "master.html.twig" %}

{% block title %}Add Article{% endblock %}

{% block content %}

    {% if errorList %}    
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Title: <input type="text" name="title" value="{{v.title}}"><br>
        <textarea name="body">{{v.body}}</textarea><br>
        <input type="submit" value="Publish article">
    </form>

{% endblock %}