{% extends "master.html.twig" %}

{% block title %}Success - Article added{% endblock %}

{% block content %}

    <p>Article added <a href="/article/{{articleId}}">Click here to view</a>.</p>

{% endblock %}