{% extends "master.html.twig" %}

{% block title %}BookStore index{% endblock %}

{% block content %}

    <div class="artList">
        {% for a in al %}
            <div class="artHead">
                <b>{{a.title}}</b>
                <br>Posted by {{a.authorName}} on {{a.creationTime}}<br>
                <div class="artBody">{{a.body}}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}