{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}


{% block content %}

    {% if error %}    
        <p class="error">Login credentials invalid<br>
            Try again or <a href="/register">register</a></p>
        {% endif %}
    <ul>
        <li>Default User: gu@es.t</li>
        <li>Default password: 123asD {{ timeStamp }}</li>
    </ul>

    >

    Email:  <input type="email" id="email" value={{v.email}}><br />
    password: <input type="password" id="password" value="123asD"><br />
    <button id="cancelButton">Cancel</button>
    <button id="loginButton">Login</button>


    {% block addfoot %}
        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="jQuery.md5.js"></script>
        <script type="text/javascript">
            $("#loginButton").click(function () {
                var emailVal = $('email').val();
                var password = $('password').val();
                var complexPasswordVal = initPwd(password);
                console.log('{{timeStamp}}');
                console.log(complexPassword);

                var user = ({'email': emailVal, 'password': complexPasswordVal});
                $.ajax({
                    url: '/slimblog.php/api/login',
                    data: JSON.stringify(user),
                    type: "POST",
                    dataType: 'json'
                }).done(function () {
                    alert("addedd successfully");
                });

            });
            function initPwd(pwd) {
            {#                var hashcode = window.location.href.replace(" ", "");#}
                var hashcode = window.location.href;
                console.log(hashcode);
                var hashcode = window.location.href;
                pwd = hashcode + $.md5(pwd) + $.md5('{{timeStamp}}');
                pwd = $.md5(pwd);
                return pwd;
            }
        </script>

    {% endblock %}

{% endblock content %}

