<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" />
        <title>{% block title %}{% endblock %} - Slim Blog </title>
        {% block addhead %}
        {% endblock %}
    </head>
    <body>
        <div id="#centeredContent">
            <div id='header'>
                {% if sessionUser %}
                    You are {{ sessionUser.email }}, you can <a href='/logout'>logout</a>
                {% else %}
                    You can <a href='/login'>login</a> or <a href='/register'>register.</a>
                {% endif %}
            </div>
            {% block content %}{% endblock %}
            <div id="footer">
                &copy; Copyright 2019 by <a href="http://localhost:8002">Home</a>.
                <p>update: 2019-01-27</p>
            </div>
            <!-- TODO: add Google Analytics tracking code -->
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% block addfoot %}
        {% endblock %}
    </body>
</html>