{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block addhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("input[name=email]").keyup(function () {
                var email = $("input[name=email]").val();
                $("#emailTaken").load("isemailregistered/" + email);
            });
        });
    </script>
{% endblock addhead%}


{% block content %}

    {% if errorList %}
        <ul class="error">
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Email: <input type="email" name="email" value={{v.email}}><br />
        <span id="emailTaken" class="error"></span><br>
        Password:  <input type="password" name="password" value="Ja1Ja1Ja1"><br />
        Password(repeated):  <input type="password" name="password2" value="Ja1Ja1Ja1"><br />
        <input type="submit" value="Register">
    </form>

{% endblock content %}