{% extends "master.html.twig" %}

{% block title %}Fatal Error{% endblock %}

{% block content %}


    <h1>failure</h1>
    <p></p>
    <img src="/images/ninja.jpg" width="200px">
    {% if errorList %}    
        <ul class="error">
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

{% endblock content%}

