{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="artList">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">DueDate</th>
                    <th scope="col">IsDone</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for t in todosList %}
                    <tr>
                        <th scope="row">{{t.id}}</th>
                        <td><a href="/edit/{{t.id}}">{{t.task}}</a></td>
                        <td>{{t.dueDate}}</td>
                        <td>{{t.isDone}}</td>
                        <td><a href="/edit/{{t.id}}">Edit</a></td>
                        <td><a href="/delete/{{t.id}}">Delete</a></td>
                    </tr>  
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content%}

