{% extends "master.html.twig" %}

{% block title %}Add Passport{% endblock %}

{% block content %}

    {% if errorList %}    
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Number: <input type="text" name="number" value="{{v.name}}"><br>
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Image: <input type="file" name="image" ><br>
        <input type="submit" value="Add passport">
    </form>

{% endblock %}