{% extends "master.html.twig" %}

{% block title %}Add Product{% endblock %}

{% block content %}

    {% if errorList %}    
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Description: <textarea name="description">{{v.description}}</textarea><br>
        Price: <input type="number" name="price" 
                      min="0.01" step="0.01" max="999999.99" value="{{v.price}}"><br>
        Image: <input type="file" name="image" ><br>
        <input type="submit" value="Publish article">
    </form>

{% endblock %}