<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>{% block title %}{% endblock %} - Todo </title>
        {% block addhead %}
        {% endblock %}
    </head>
    <body>
        <div id="centeredContent">
            <div id='topNav'>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/login" tabindex="-1" aria-disabled="true">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/add" tabindex="-1" aria-disabled="true">Add Todo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
                    </li>
                </ul>
            </div>

        {% block content %}{% endblock %}
        
        <div id="footer">
            &copy; Copyright 2019 <a href="http://localhost:8002">Back Home</a>.
        </div>
        <!-- Todo: Google-->
    </div>
    <!-- TODO: add Google Analytics tracking code -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block addfoot %}
    {% endblock %}
</body>
</html>