{% extends "master.html.twig" %}

{% block title %}Add{% endblock %}

{% block content %}

    {% if errorList %}    
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form id="taskForm" method="post">
        Task: <input type="text" name="task" value="{{v.task}}"><br />
        DueDate: <input type="date" name="dueDate" value="{{v.dueDate}}"><br />
        <input type="checkbox" id="isDone" name="isDone" value="true" checked> IsDone<br /> 
        <input type="hidden"  name="id" value="{{v.id}}"><br>
        <input type="submit" value="Add Todo">
    </form>

    {% if v %}    
        <ul>
            {% for error in v %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

{% endblock content%}

{% block addfoot %}
{#    <script>
        $("#taskForm").ready(function () {

            var today = new Date();
            var todayStr = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        {#          alert(todayStr);#}
          $("input[name=dueDate]").value = todayStr;
          alert($("input[name=dueDate]").value);

          if (true) {
              $("input[name=isDone]").checked = true;
          }

{#          $("input[name=task]").value = "buy ...";#}
          alert(("input[name=task]").value);

      });
    </script>#}
{% endblock addfoot%}



