{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{ error }}</li>
            {% endfor %}
    </ul>
{% endif %}

<form method="post">
    Name: <input type="text" name="name" value={{name}}><br />
    Age:  <input type="number" name="age" value={{age}}><br />
    <input type="submit" value="Add me">
</form>