<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <p>Hello {{ name }} from TWIG, you are {{ age }} y/o. </p>
        <p>Oh, btw, in case you forgot your name is {{ name }} </p>
    </body>
</html>