{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{ error }}</li> 
            {% endfor %}
    </ul>
{% endif %}


<form method="post">
    Min: <input type="number" name="min" value={{min}}><br />
    Max:  <input type="number" name="max" value={{max}}><br />
    Count:  <input type="number" name="count" value={{count}}><br />
    <input type="submit" value="Generate">
</form>

{% if numbers %}
    <p>
        {% for number in numbers %}
            {{ number }}, 
        {% endfor %}
    </p>
{% endif %}