body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centeredContent {
    margin: 0 auto;
    padding: 20px;
    width: 960px; 
    background-color: white;
}

#topNav {
    background-color: orange;
}

.error{
    font-weight: bold;
    background-color: yellow;
    color: red;
    border: 2;
}
